@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 95% !important;
  background-color: lightblue !important;
}

* {
  box-sizing: border-box;
}
/*The following CSS are for the .main-contents and layout */
.main-contents {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: auto !important;
}

.main-contents h3 {
  color: blueviolet;
}

/*The following CSS are for the TopNavBar */
.bg-purple {
  background-color: #aac3c0;
}

.nav-link {
  color: #552c4a !important;
  font-size: large;
  font-weight: 400;
}

.navbar-toggler {
  border-color: #aac3c0 !important;
  border-width: thick;
}

.nav-link.active {
  border-bottom: 3px solid #319df6;
  width: fit-content;
  padding: 10px;
}

.navbar-brand {
  color: #552c4a !important;
  font-size: larger !important;
  margin-right: 5% !important;
  font-family: "Brush Script MT", Cursive;
}

nav {
  font-size: 30px;
}

nav,
footer {
  height: 50px;
}

/*The following CSS are for the Footer */

.footer a {
  color: #552c4a;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #aac3c0;
  position: "absolute";
  bottom: 0;
  width: "100%";
}

/*The following CSS are for the Registration page */
.registration {
  text-align: center;
}

.places {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.places li {
  list-style-type: none;
  padding-top: 50px;
}

.icon {
  font-size: 100px;
}

.thanks {
  text-align: center;
  color: #552c4a;
}

.link {
  color: #552c4a;
}

.mr-auto a {
  font-size: 20px;
  margin: 20px;
}

.store {
  display: flex;
  list-style-type: none;
  padding-top: 100px;
  text-align: center;
  justify-content: space-around;
  height: 300px;
}

.registrateBack {
  background-image: url("../images/scene.jpg");
  text-align: center;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registrateBack h3 {
  padding-top: 100px;
  font-size: 50px;
  color: lightblue;
}

h4 {
  color: lightblue;
}

/*The following CSS are for the About page */
.carousel-img {
  max-height: 400px;
  width: auto;
}
.carousel-item {
  border-bottom: none !important;
  display: flex;
  flex-direction: column;
}
.carousel-cap {
  color: purple;
  text-align: start;
  margin-left: 15%;
  margin-right: 15%;
  white-space: pre-line;
  font-size: large;
}
.carousel-cap h4 {
  text-align: center;
}
.carousel {
  /* background-color: purple !important; */
  margin-top: 20px;
  height: 850px;
}

/*The following CSS are for the picturewall page */
.picture-card {
  height: 450px;
  width: 350px;
}

.picture-img {
  max-width: 350px;
  max-height: 400px;
  width: auto;
}

.picture-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 10px;
}

.picture-card h5 {
  color: blueviolet;
}

.picture-group-title {
  text-align: start !important;
  color: blue !important;
  margin: 20px;
}

.big-picture-img {
  margin: 10%;
}
.big-picture {
  text-align: center;
  height: 900px;
}
