@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 95% !important;
  background-color: #d3d3d3 !important;
}

* {
  box-sizing: border-box;
}
/*The following CSS are for the .main-contents and layout */
.main-contents {
  margin-bottom: 10px;
  text-align: center;
  height: auto !important;
}

.main-contents h3 {
  color: black;
  font-family: "Lucida Handwriting", cursive;
  margin-top: 20px;
}

.main-contents h2 {
  color: black;
  font-family: "Lucida Handwriting", cursive;
}

/*The following CSS are for the TopNavBar */
.bg-purple {
  background-color: #b19cd9;
}

.nav-link {
  color: #552c4a !important;
  font-size: large;
  font-family: "Lucida Handwriting", cursive;
}

.navbar-toggler {
  border-color: #aac3c0 !important;
  border-width: thick;
}

.nav-link.active {
  border-bottom: 3px solid #319df6;
  width: fit-content;
  font-weight: bold;
}

.navbar-brand {
  color: #552c4a !important;
  font-size: larger !important;
  margin-right: 5% !important;
  font-family: "Brush Script MT", Cursive;
}

nav {
  font-size: 30px;
}

nav {
  height: 90px;
}

footer {
  height: 60px;
}

/*The following CSS are for the Footer */

footer a {
  color: black;
}

footer a:hover {
  text-decoration: none;
}

footer {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  color: black;
  background-color: #b19cd9;
  position: static;
  bottom: 0;
  width: 100%;
  font-family: "Lucida Handwriting", cursive;
}

/*The following CSS are for the Registration page */
.registration {
  text-align: center;
}

.places {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.places li {
  list-style-type: none;
  padding-top: 50px;
}

.icon {
  font-size: 100px;
  color: purple;
}

@media screen and (max-width: 992px) {
  .store {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .icon {
    margin-top: 20px;
    font-size: 80px;
    padding: 10px;
  }
  .thanks {
    margin-top: 250px;
    padding-bottom: 30px;
  }
  .main-contents img {
    max-width: 400px !important;
    height: auto !important;
  }
  .main-contents {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.thanks {
  text-align: center;
  color: black;
}

.link {
  color: black;
}

.mr-auto a {
  font-size: 20px;
  margin: 20px;
}

.store {
  display: flex;
  list-style-type: none;
  padding-top: 100px;
  text-align: center;
  justify-content: space-around;
  height: 300px;
}

.registrateBack {
  /* background-image: url("../public/scene.jpg"); */
  text-align: center;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registrateBack h2 {
  padding-top: 100px;
  font-size: 50px;
  /* color: lightblue; */
}

.registrateBack h4 {
  /* color: lightblue; */
}

/*The following CSS are for the About page */
.carousel-img {
  max-height: 400px;
  width: auto;
}
.carousel-item {
  border-bottom: none !important;
  display: flex;
  flex-direction: column;
}
.carousel-cap {
  text-align: start;
  margin-left: 15%;
  margin-right: 15%;
  white-space: pre-line;
  font-size: large;
}
.carousel-cap h4 {
  text-align: center;
}
.carousel {
  /* background-color: purple !important; */
  margin-top: 20px;
  height: 850px;
}

/*The following CSS are for the picturewall page */
.picture-card {
  height: 450px;
  width: 350px;
}

.picture-img {
  max-width: 350px;
  max-height: 400px;
  width: auto;
}

.picture-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 10px;
}

.picture-card h5 {
  color: black;
}

.picture-group-title {
  text-align: start !important;
  color: black !important;
  margin: 20px;
  margin-left: 5%;
}

.big-picture-img {
  margin: 10%;
}
.big-picture {
  text-align: center;
  height: 900px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0px;
  list-style-type: none;
}

p {
  color: black;
}

h4 {
  color: black;
  padding: 20px;
  font-family: "Lucida Handwriting", cursive;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cap {
  /* color: purple; */
  text-align: start;
  margin-left: 15%;
  margin-right: 15%;
  white-space: pre-line;
  font-size: large;
}
.home-pic {
  width: 600px;
  margin-bottom: 20px;
}
